@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-gray-100 text-black transition-all;
  }
  .dark {
    @apply bg-gray-900 text-white;
  }
}

* {
  font-family: "Space Grotesk", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  padding: 30px;
}
.header {
  width: 80%;
  margin: 0 auto;
  min-height: 10vh;
  background-color: #e8e2e2;
  padding: 30px;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resumeTitle {
  opacity: 0.6;
}
.headerTitle {
  margin-bottom: 15px;
}
.resumeImage {
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.resumeBody {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  min-height: 80vh;
  border: 1px solid #e0e0ea;
}
.resumeBodyTitle {
  margin-bottom: 2px;
}
.resumeBodyContent {
  text-align: justify;
  margin-bottom: 30px;
}

/* .buttonGroup {
  padding: 20px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
} */
.sendEmail {
  background-color: #f99417;
  padding: 20px;
  text-decoration: none;
  border-radius: 3px;
}
.resume__title {
  margin-bottom: 30px;
}
.companyDescription {
  padding: 15px;
  border: 1px solid #e8e2e2;
  border-radius: 3px;
  margin-bottom: 15px;
}
.sendEmailBtn {
  width: 200px;
}
/* .nestedItem {
  display: flex;
  flex-direction: column;
  width: 50%;
} */
